<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('TRC')" data-ng-class="{active: currency.symbol == 'TRC'}">TRC</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mTRC')" data-ng-class="{active: currency.symbol == 'mTRC'}">mTRC</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uTRC')" data-ng-class="{active: currency.symbol == 'uTRC'}">uTRC</a>
  </li>
</ul>

